
@{
    ViewBag.Title = "NoProject";
}



<h2>No Project</h2>
<p class="text-center">
<h3>You don't currently have any project assigned on Catch Me.. Please check with your administrator.</h3>
<img src="@Url.Content("~/Images/butterfly-catching.jpg")" />

</p>
