html {
    
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        padding-top: 50px;
    padding-bottom: 20px;

    margin: 0;
    
}





/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}


/* http://www.softicons.com/free-icons/system-icons/crystal-project-icons-by-everaldo-coelho/apps-bug-icon */
.navbar-brand
{
    background: url( '/Images/bug.png' ) no-repeat 15px 5px;
    padding-left: 50px;
}


.navbar-light {
    background-color: #CCCCCC;
    border-color: #CCCCCC;
}


    select.projectselect {
   
   width:200px;
   
   border:none!important;
   border-radius: 0;
   font-weight:500;
   
   height: 20px;
   -webkit-appearance: none;
   
    /*width: 240px;
   height: 34px;
   overflow: hidden;
   background: url('/Images/dropdown.png') no-repeat right #FFF;*/
   

   }

select.select2 {
width:200px;
}


/* override */
.pad20 {
    padding: 20px 0;

}

.task-title {
    font-size:24px;
    font-weight:500;
}

.status {
width:100px;
}

.rectangle {
	width: 8px;
	height: 20px;	
    float:left;
    margin-right:5px;
}
	

.rectangle-big {
	width: 16px;
	height: 40px;	
    float:left;
    margin-right:5px;
}
	

.action,.onhold,.investigation{
    background: #428BCA;
}


.problem, .failed  {
    background: #D9534F;
}

.inprogress {
    background: #F0AD4E;
}

.completed,.passed,.closed {
    background: #5CB85C;
}
.new,  .noissue {
    background: #777777;

}


/* miscellanesous*/

    .border-red { border: 1px solid red;}    
    .border-green { border: 1px solid green;}    
    .border-orange { border: 1px solid green;}    
    
    .border-blue { border: 1px solid blue;}

