
@{
    ViewBag.Title = "NoAccess";
}

<h2>No Access</h2>

<img src="@Url.Content("~/Images/butterfly-catching.jpg")" />

<p>You don't currently have an acess on Catch Me.. Please check with the site administrator.</p>