
@{
    ViewBag.Title = "Home";
}

<h2>Administration</h2>

<h3><span class="fa fa-tasks"></span>&nbsp; <a href="@Url.Action("ListProjects")">Projects</a></h3>
<h3><span class="fa fa-user"></span>&nbsp; <a href="@Url.Action("ListUsers")">Users</a></h3>