
@{
    ViewBag.Title = "Test";
    
    var days = (int[,]) ViewBag.Days  ;
}

<h2>Test</h2>

<table class="table table-bordered">
    <tr>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>S</th>
    </tr>

    
    @for (var i = 0; i < 6; i++)
    {
        <tr>
            @for (var j = 0; j < 7; j++)
            {
            <td>
                <p> @days[i, j]</p>

            </td>

            }
        </tr>

    }
</table>